<h2>Flight Details</h2>
<div>
  <p *ngIf="flight" align="left">Origin: <input [value]="flight.origin" (input)="flight.origin = $event.target.value" />
    Destination: <input [value]="flight.destination" (input)="flight.destination = $event.target.value" />
    Alternate:
    <input [value]="flight.alternate" (input)="flight.alternate = $event.target.value" /> Aircraft Type: <input
      [value]="flight.aircraftType" (input)="flight.aircraftType = $event.target.value" /> </p>
</div>
<h2>Flight Route</h2>
<div>
  <table *ngIf="flight?.pointIds">
    <ng-container *ngFor="let routePoint of flight.pointIds; index as i; trackBy:trackByIndex">
      <tr>
        <td><button (click)="removePoint(i)">&minus;</button></td>
        <td colspan="3"><input [value]="flight.pointIds[i]" (input)="setPointId(i, $event.target.value)" size="18" />
        </td>
      </tr>
      <!-- Split off / time-limited trip segments -->
      <tr *ngFor="let childSegment of tripSegments?.get(i)?.children; index as c">
        <td colspan="4">Additional time-limited segment:</td>
        <!-- Route-segment trip input data -->
        <td>VAR<br><input size="3" [value]="childSegment.variation"
            (input)="setVariation(i.toString() + '.' + c.toString(), $event.target.value)" /></td>
        <td>FCR(h)<br><input size="3" [value]="childSegment.fuelConsumptionRate"
            (input)="setFuelConsumptionRate(i + '.' + c, $event.target.value)" /></td>
        <td>W / V<br><input size="3" [value]="childSegment.windDirection"
            (input)="setWindVector(i + '.' + c, $event.target.value, tripSegments?.get(i).windSpeed)" /> /
          <input size="2" [value]="childSegment.windSpeed"
            (input)="setWindVector(i + '.' + c, tripSegments?.get(i).windDirection, $event.target.value)" /></td>
        <td>TAS(kt)<br><input size="3" [value]="childSegment.trueAirspeed"
            (input)="setTrueAirspeed(i + '.' + c, $event.target.value)" /></td>
        <td>ALT(ft)<br><input size="5" [value]="childSegment.altitude"
            (input)="setAltitude(i + '.' + c, $event.target.value)" /></td>
        <!-- Route-segment trip derived (output) data (displayed in input boxes to allow for corrections) -->
        <td>MC<br><input size="3" [value]="childSegment.magneticCourse" readonly="true" /></td>
        <td>MH<br><input size="3" [value]="childSegment.magneticHeading" readonly="true" /></td>
        <td>GS(kt)<br><input size="3" [value]="childSegment.groundSpeed" readonly="true" /></td>
        <td>t(min)<br><input size="2" [value]="childSegment.time" (input)="setTime(i, $event.target.value)" />
        </td>
        <td>F<br><input size="3" [value]="childSegment.fuel.toFixed(1)" readonly="true" /></td>
      </tr>
      <!-- Main route / trip segment -->
      <tr *ngIf="i < flight.pointIds.length - 1">
        <!-- Static point data -->
        <td><button (click)="insertPoint(i)">+</button></td>
        <td>MSA(ft)<br><input [value]="findLoadedRouteSegment(routePoint,flight.pointIds[i+1])?.minimumSafeAltitude"
            (input)="setMinimumSafeAltitude(routePoint,flight.pointIds[i+1], $event.target.value)" size="5" /></td>
        <td>TC<br><input [value]="findLoadedRouteSegment(routePoint,flight.pointIds[i+1])?.trueCourse"
            (input)="setTrueCourse(routePoint,flight.pointIds[i+1], $event.target.value)" size="3" /></td>
        <td>d(NM)<br><input [value]="findLoadedRouteSegment(routePoint,flight.pointIds[i+1])?.distance"
            (input)="setDistance(routePoint,flight.pointIds[i+1], $event.target.value)" size="2" /></td>

        <!-- Route-segment trip input data -->
        <td>VAR<br><input size="3" [value]="tripSegments?.get(i).variation"
            (input)="setVariation(i.toString(), $event.target.value)" /></td>
        <td>FCR(h)<br><input size="3" [value]="tripSegments?.get(i).fuelConsumptionRate"
            (input)="setFuelConsumptionRate(i.toString(), $event.target.value)" /></td>
        <td>W / V<br><input size="3" [value]="tripSegments?.get(i).windDirection"
            (input)="setWindVector(i.toString(), $event.target.value, tripSegments?.get(i).windSpeed)" /> /
          <input size="2" [value]="tripSegments?.get(i).windSpeed"
            (input)="setWindVector(i.toString(), tripSegments?.get(i).windDirection, $event.target.value)" /></td>
        <td>TAS(kt)<br><input size="3" [value]="tripSegments?.get(i).trueAirspeed"
            (input)="setTrueAirspeed(i.toString(), $event.target.value)" /></td>
        <td>ALT(ft)<br><input size="5" [value]="tripSegments?.get(i).altitude"
            (input)="setAltitude(i.toString(), $event.target.value)" /></td>
        <!-- Route-segment trip derived (output) data (displayed in input boxes to allow for corrections) -->
        <td>MC<br><input size="3" [value]="tripSegments?.get(i).magneticCourse" readonly="true" /></td>
        <td>MH<br><input size="3" [value]="tripSegments?.get(i).magneticHeading" readonly="true" /></td>
        <td>GS(kt)<br><input size="3" [value]="tripSegments?.get(i).groundSpeed" readonly="true" /></td>
        <td>t(min)<br><input size="2" [value]="tripSegments?.get(i).time"
            (input)="setTime(i.toString(), $event.target.value)" />
        </td>
        <td>F<br><input size="3" [value]="tripSegments?.get(i).fuel.toFixed(1)" readonly="true" /></td>
      </tr>
    </ng-container>
  </table>
</div>
<h2>Save Flight</h2>
<div>
  Name: <input *ngIf="flight" [value]="flight.name" (input)="flight.name = $event.target.value" />
  <button (click)="save()">Save</button> <button [routerLink]="['/flightplanner/list']">Return</button>
</div>