<div align="center">
  <table id="flight-table">
    <tr *ngFor="let f of flights; index as i">
      <td>
        <a id="{{ 'flight-row-' + i }}"
          [routerLink]="['/flightplanner/edit', f.name]">{{ f.name + ' (' + f.origin+ ' -&gt; ' +f.destination + ')'}}</a>
      </td>
      <td>
        <button id="{{ 'flight-row-delete-' + i }}" (click)="deleteFlight(f.name)">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
<div align="center">
  <button [routerLink]="['/flightplanner/edit', '']" color="primary">
    Create a new flight
  </button>
</div>